# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
override.tf
override.tf.json
terraform.tfvars
terraform.rc
.terraform.*
graph.png

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log
